body
{
	background: #4e475c;
	
	font-family: sans-serif;
	
	line-height: 2em;
	
	color: #4e475c;
}

h1
{
	margin: 0;
}

ul
{
	margin: 0;
	padding: 0;
	text-align: center;
}

ul li
{
	list-style: none;
	display: inline;
}

ul li:after
{
	content: "\2022";
}

ul li:last-child:after
{
	content: none;
}

a > img {
    filter: invert(27%) sepia(6%) saturate(1695%) hue-rotate(219deg) brightness(94%) contrast(86%);
}

img
{
	width: 10em;
	border-radius: 5em;
}

a
{
	color: #4e475c;
}

span.row
{
	display: block;
	margin: auto;
	text-align: center;
	
	padding: 0.5em;
}

span.row > a
{
    margin: 0.5em;
}

div#main_nav
{
	background: white;
	padding: 1em;
	border-radius: 5em;
	
	position: absolute;
	
	top: 50%;
	left: 50%;
	
	margin-right: -50%;
	margin-bottom: -50%;
	
	transform: translate(-50%, -50%);
}

div#bottom
{
	position: absolute;
	bottom: 0.25em;
	left: 0;
	right: 0;
	
	margin: auto;
	padding: 0;
	
	text-align: center;
	font-size: 0.5em;
}
