/* set two -- sepia */
*
{
	font-family: "Myriad", "Open Sans", "Arial", sans-serif;
	
	background-color: #e3dac7;
	
	color: #3d3625;
	text-shadow: none;
}

a:visited
{
	color: #9e25ad;
}

a:link
{
	color: #2978c7;
}