@keyframes sine-anim
{
    0.000000% { transform: translate(0px, -0.000px); }
    0.500000% { transform: translate(0px, -0.503px); }
    1.000000% { transform: translate(0px, -1.005px); }
    1.500000% { transform: translate(0px, -1.506px); }
    2.000000% { transform: translate(0px, -2.005px); }
    2.500000% { transform: translate(0px, -2.503px); }
    3.000000% { transform: translate(0px, -2.998px); }
    3.500000% { transform: translate(0px, -3.490px); }
    4.000000% { transform: translate(0px, -3.979px); }
    4.500000% { transform: translate(0px, -4.464px); }
    5.000000% { transform: translate(0px, -4.944px); }
    5.500000% { transform: translate(0px, -5.420px); }
    6.000000% { transform: translate(0px, -5.890px); }
    6.500000% { transform: translate(0px, -6.354px); }
    7.000000% { transform: translate(0px, -6.812px); }
    7.500000% { transform: translate(0px, -7.264px); }
    8.000000% { transform: translate(0px, -7.708px); }
    8.500000% { transform: translate(0px, -8.145px); }
    9.000000% { transform: translate(0px, -8.573px); }
    9.500000% { transform: translate(0px, -8.993px); }
    10.000000% { transform: translate(0px, -9.405px); }
    10.500000% { transform: translate(0px, -9.807px); }
    11.000000% { transform: translate(0px, -10.199px); }
    11.500000% { transform: translate(0px, -10.581px); }
    12.000000% { transform: translate(0px, -10.953px); }
    12.500000% { transform: translate(0px, -11.314px); }
    13.000000% { transform: translate(0px, -11.663px); }
    13.500000% { transform: translate(0px, -12.002px); }
    14.000000% { transform: translate(0px, -12.328px); }
    14.500000% { transform: translate(0px, -12.642px); }
    15.000000% { transform: translate(0px, -12.944px); }
    15.500000% { transform: translate(0px, -13.233px); }
    16.000000% { transform: translate(0px, -13.509px); }
    16.500000% { transform: translate(0px, -13.772px); }
    17.000000% { transform: translate(0px, -14.021px); }
    17.500000% { transform: translate(0px, -14.256px); }
    18.000000% { transform: translate(0px, -14.477px); }
    18.500000% { transform: translate(0px, -14.684px); }
    19.000000% { transform: translate(0px, -14.876px); }
    19.500000% { transform: translate(0px, -15.054px); }
    20.000000% { transform: translate(0px, -15.217px); }
    20.500000% { transform: translate(0px, -15.365px); }
    21.000000% { transform: translate(0px, -15.497px); }
    21.500000% { transform: translate(0px, -15.615px); }
    22.000000% { transform: translate(0px, -15.717px); }
    22.500000% { transform: translate(0px, -15.803px); }
    23.000000% { transform: translate(0px, -15.874px); }
    23.500000% { transform: translate(0px, -15.929px); }
    24.000000% { transform: translate(0px, -15.968px); }
    24.500000% { transform: translate(0px, -15.992px); }
    25.000000% { transform: translate(0px, -16.000px); }
    25.500000% { transform: translate(0px, -15.992px); }
    26.000000% { transform: translate(0px, -15.968px); }
    26.500000% { transform: translate(0px, -15.929px); }
    27.000000% { transform: translate(0px, -15.874px); }
    27.500000% { transform: translate(0px, -15.803px); }
    28.000000% { transform: translate(0px, -15.717px); }
    28.500000% { transform: translate(0px, -15.615px); }
    29.000000% { transform: translate(0px, -15.497px); }
    29.500000% { transform: translate(0px, -15.365px); }
    30.000000% { transform: translate(0px, -15.217px); }
    30.500000% { transform: translate(0px, -15.054px); }
    31.000000% { transform: translate(0px, -14.876px); }
    31.500000% { transform: translate(0px, -14.684px); }
    32.000000% { transform: translate(0px, -14.477px); }
    32.500000% { transform: translate(0px, -14.256px); }
    33.000000% { transform: translate(0px, -14.021px); }
    33.500000% { transform: translate(0px, -13.772px); }
    34.000000% { transform: translate(0px, -13.509px); }
    34.500000% { transform: translate(0px, -13.233px); }
    35.000000% { transform: translate(0px, -12.944px); }
    35.500000% { transform: translate(0px, -12.642px); }
    36.000000% { transform: translate(0px, -12.328px); }
    36.500000% { transform: translate(0px, -12.002px); }
    37.000000% { transform: translate(0px, -11.663px); }
    37.500000% { transform: translate(0px, -11.314px); }
    38.000000% { transform: translate(0px, -10.953px); }
    38.500000% { transform: translate(0px, -10.581px); }
    39.000000% { transform: translate(0px, -10.199px); }
    39.500000% { transform: translate(0px, -9.807px); }
    40.000000% { transform: translate(0px, -9.405px); }
    40.500000% { transform: translate(0px, -8.993px); }
    41.000000% { transform: translate(0px, -8.573px); }
    41.500000% { transform: translate(0px, -8.145px); }
    42.000000% { transform: translate(0px, -7.708px); }
    42.500000% { transform: translate(0px, -7.264px); }
    43.000000% { transform: translate(0px, -6.812px); }
    43.500000% { transform: translate(0px, -6.354px); }
    44.000000% { transform: translate(0px, -5.890px); }
    44.500000% { transform: translate(0px, -5.420px); }
    45.000000% { transform: translate(0px, -4.944px); }
    45.500000% { transform: translate(0px, -4.464px); }
    46.000000% { transform: translate(0px, -3.979px); }
    46.500000% { transform: translate(0px, -3.490px); }
    47.000000% { transform: translate(0px, -2.998px); }
    47.500000% { transform: translate(0px, -2.503px); }
    48.000000% { transform: translate(0px, -2.005px); }
    48.500000% { transform: translate(0px, -1.506px); }
    49.000000% { transform: translate(0px, -1.005px); }
    49.500000% { transform: translate(0px, -0.503px); }
    50.000000% { transform: translate(0px, 0.000px); }
50.500000% { transform: translate(0px, 0.503px); }
    51.000000% { transform: translate(0px, 1.005px); }
    51.500000% { transform: translate(0px, 1.506px); }
    52.000000% { transform: translate(0px, 2.005px); }
    52.500000% { transform: translate(0px, 2.503px); }
    53.000000% { transform: translate(0px, 2.998px); }
    53.500000% { transform: translate(0px, 3.490px); }
    54.000000% { transform: translate(0px, 3.979px); }
    54.500000% { transform: translate(0px, 4.464px); }
    55.000000% { transform: translate(0px, 4.944px); }
    55.500000% { transform: translate(0px, 5.420px); }
    56.000000% { transform: translate(0px, 5.890px); }
    56.500000% { transform: translate(0px, 6.354px); }
    57.000000% { transform: translate(0px, 6.812px); }
    57.500000% { transform: translate(0px, 7.264px); }
    58.000000% { transform: translate(0px, 7.708px); }
    58.500000% { transform: translate(0px, 8.145px); }
    59.000000% { transform: translate(0px, 8.573px); }
    59.500000% { transform: translate(0px, 8.993px); }
    60.000000% { transform: translate(0px, 9.405px); }
    60.500000% { transform: translate(0px, 9.807px); }
    61.000000% { transform: translate(0px, 10.199px); }
    61.500000% { transform: translate(0px, 10.581px); }
    62.000000% { transform: translate(0px, 10.953px); }
    62.500000% { transform: translate(0px, 11.314px); }
    63.000000% { transform: translate(0px, 11.663px); }
    63.500000% { transform: translate(0px, 12.002px); }
    64.000000% { transform: translate(0px, 12.328px); }
    64.500000% { transform: translate(0px, 12.642px); }
    65.000000% { transform: translate(0px, 12.944px); }
    65.500000% { transform: translate(0px, 13.233px); }
    66.000000% { transform: translate(0px, 13.509px); }
    66.500000% { transform: translate(0px, 13.772px); }
    67.000000% { transform: translate(0px, 14.021px); }
    67.500000% { transform: translate(0px, 14.256px); }
    68.000000% { transform: translate(0px, 14.477px); }
    68.500000% { transform: translate(0px, 14.684px); }
    69.000000% { transform: translate(0px, 14.876px); }
    69.500000% { transform: translate(0px, 15.054px); }
    70.000000% { transform: translate(0px, 15.217px); }
    70.500000% { transform: translate(0px, 15.365px); }
    71.000000% { transform: translate(0px, 15.497px); }
    71.500000% { transform: translate(0px, 15.615px); }
    72.000000% { transform: translate(0px, 15.717px); }
    72.500000% { transform: translate(0px, 15.803px); }
    73.000000% { transform: translate(0px, 15.874px); }
    73.500000% { transform: translate(0px, 15.929px); }
    74.000000% { transform: translate(0px, 15.968px); }
    74.500000% { transform: translate(0px, 15.992px); }
    75.000000% { transform: translate(0px, 16.000px); }
    75.500000% { transform: translate(0px, 15.992px); }
    76.000000% { transform: translate(0px, 15.968px); }
    76.500000% { transform: translate(0px, 15.929px); }
    77.000000% { transform: translate(0px, 15.874px); }
    77.500000% { transform: translate(0px, 15.803px); }
    78.000000% { transform: translate(0px, 15.717px); }
    78.500000% { transform: translate(0px, 15.615px); }
    79.000000% { transform: translate(0px, 15.497px); }
    79.500000% { transform: translate(0px, 15.365px); }
    80.000000% { transform: translate(0px, 15.217px); }
    80.500000% { transform: translate(0px, 15.054px); }
    81.000000% { transform: translate(0px, 14.876px); }
    81.500000% { transform: translate(0px, 14.684px); }
    82.000000% { transform: translate(0px, 14.477px); }
    82.500000% { transform: translate(0px, 14.256px); }
    83.000000% { transform: translate(0px, 14.021px); }
    83.500000% { transform: translate(0px, 13.772px); }
    84.000000% { transform: translate(0px, 13.509px); }
    84.500000% { transform: translate(0px, 13.233px); }
    85.000000% { transform: translate(0px, 12.944px); }
    85.500000% { transform: translate(0px, 12.642px); }
    86.000000% { transform: translate(0px, 12.328px); }
    86.500000% { transform: translate(0px, 12.002px); }
    87.000000% { transform: translate(0px, 11.663px); }
    87.500000% { transform: translate(0px, 11.314px); }
    88.000000% { transform: translate(0px, 10.953px); }
    88.500000% { transform: translate(0px, 10.581px); }
    89.000000% { transform: translate(0px, 10.199px); }
    89.500000% { transform: translate(0px, 9.807px); }
    90.000000% { transform: translate(0px, 9.405px); }
    90.500000% { transform: translate(0px, 8.993px); }
    91.000000% { transform: translate(0px, 8.573px); }
    91.500000% { transform: translate(0px, 8.145px); }
    92.000000% { transform: translate(0px, 7.708px); }
    92.500000% { transform: translate(0px, 7.264px); }
    93.000000% { transform: translate(0px, 6.812px); }
    93.500000% { transform: translate(0px, 6.354px); }
    94.000000% { transform: translate(0px, 5.890px); }
    94.500000% { transform: translate(0px, 5.420px); }
    95.000000% { transform: translate(0px, 4.944px); }
    95.500000% { transform: translate(0px, 4.464px); }
    96.000000% { transform: translate(0px, 3.979px); }
    96.500000% { transform: translate(0px, 3.490px); }
    97.000000% { transform: translate(0px, 2.998px); }
    97.500000% { transform: translate(0px, 2.503px); }
    98.000000% { transform: translate(0px, 2.005px); }
    98.500000% { transform: translate(0px, 1.506px); }
    99.000000% { transform: translate(0px, 1.005px); }
    99.500000% { transform: translate(0px, 0.503px); }
    100.000000% { transform: translate(0px, -0.000px); }
    }

.sine-anim
{
    display: inline-block;
	transform-origin: center center 0px;
    animation-name: sine-anim;
    animation-duration: 4s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}